<%- include("navbar.ejs")%>
<div class="container mt-4">
    <div class="row g-4">
        <!-- Total Books -->
        <div class="col-md-4">
            <div class="card text-white  shadow p-3">
                <div class="card-body">
                    <h5 class="card-title">Total Books</h5>
                    <h2 id="totalBooks">120</h2> <!-- Replace with dynamic value -->
                </div>
            </div>
        </div>

        <!-- Available Books -->
        <div class="col-md-4">
            <div class="card text-white  shadow p-3">
                <div class="card-body">
                    <h5 class="card-title">Available Books</h5>
                    <h2 id="availableBooks">85</h2> <!-- Replace with dynamic value -->
                </div>
            </div>
        </div>

        <!-- Deliver Books -->
        <div class="col-md-4">
            <div class="card text-white  shadow p-3">
                <div class="card-body">
                    <h5 class="card-title">Deliver Books</h5>
                    <h2 id="availableBooks">85</h2> <!-- Replace with dynamic value -->
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("footer.ejs")%>

